$color-site: #CCCCCC;
$color-second: #CFFF00;
$tittle:80px;
$subtitle:30px;
$text:16px;

@mixin cajaFondo {
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin tittle {
  font-size: $tittle;
  letter-spacing:-15; 
  font-weight: 500;
  padding-left: 10px;
}

@mixin buttonSecond {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  margin: 20px;
  font-size: $text;
  font-weight: 600;
  color: #898989;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #CFFF00);
  position: relative;
  margin-right: 5px;
 float: right;
}

@mixin cajaPresentacion {
  border: solid 1px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items:center;
}


@mixin buttonPrimary {
  font-size: $subtitle;
  display: flex;
  justify-content: center;
  margin-top: 30px;
      a{
        color:black;
        border: 1px solid;
        padding: 4px 15px 4px 15px;
        margin-top: 10px;
}
}

* { 
	box-sizing:border-box;
    margin: 0;
	padding: 0;
}

body {
	font-family: Titillium Web, sans-serif ;
	background-color: $color-site;
	}

body,html {
	height: 100%;
}

/* Barra navegacion --------------------------------------------------------- */

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:center;

  width: 99.2%;
  color: black;
  background-color: $color-site;
  border: solid;
  border-width: 1px;
  margin: 5px 0px 10px 5px;
  }

.nav__logo img {
  width: 40%;
  margin: 10px;
}

/* Boton de Menu */
.nav__menu__boton{
  background-color: $color-site;
  color: black;
  font-weight: bold;
  padding: 14px 22px 14px 22px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-left: 1px solid black;
  height: 70px;
}

/* Contenido de Menu */
.nav__menu__contenido {
  display: none;
  position: absolute;
  right: 8px;
  background-color: #7B7B7B;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
		a {
 			color: $color-site;
  			padding: 12px 16px;
 			  text-decoration: none;
  			display: block;
        transition: all 0.1s linear;
		}
		a:hover {
			background-color: $color-second;
			color: black;
		}		
	}

.nav__menu:hover .nav__menu__contenido {display: block;}

.nav__menu:hover .nav__menu__boton {
	background-color: black;
	color:$color-site;
}


/* Pagina Inicio --------------------------------------------------------- */ 

.fotoFondo {
  background-image: url("../imagenes/Fondo-03.jpg");
  @include cajaFondo;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 50px;
} 

.flexColumn {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contenedorHola {
  width: 1000px;
  height: 270px;
  overflow: hidden;
}

.h6hola {
  font-size: 200px;
  letter-spacing:-15;
  font-weight: 500;
  padding-left: 4%;
  margin-top: 200px;
  animation: holaAnimado;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes holaAnimado{

  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}


.pInicio p {
  font-size: $tittle;
  font-weight: 400; 
  letter-spacing:-15;
  line-height: 70px;
  padding-bottom: 5px;
  padding-left: 5%;
}


@media (max-width: 922px) {
.pInicio p{
  font-size: 50px;
}
}

.contenedorP1 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p1Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
}
@keyframes p1Animado {
  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}

.contenedorP2 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p2Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
    }
}
@keyframes p2Animado {
  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}

.contenedorP3 {
  width: 900px;
  height: 120px;
  overflow: hidden;
    p{
      margin-top: 200px;
      animation: p3Animado;
      animation-duration: 1.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
}

@keyframes p3Animado {

  from{ margin-top: 200px;}
  to{ margin-top: 0px;}
}


.pBajada p{
  font-size: 40px;
  display: inline;
  padding: 4px 10px 4px 10px;
  margin-left: 5%;
  border: solid;
  border-width: 2px;
  border-color: $color-second;
  animation: pBajada;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0%
}
@keyframes pBajada {

  from{ opacity: 0%}
  to{ opacity: 100%;}
}

.flecha {
  width: 60%;
  position: relative;
  top: 75%;
  right: 15%;
}

.miscelanea img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 120px;
    margin-bottom: 110px;
}

.flechaSubir img{
  width: 4.5%;
  float: right;
}


@media (max-width: 920px) {
.flechaSubir img{
  width: 6.5%;
}
}


.flechaSubir{
  position: sticky;
  top: 10px;
  img:hover{
        background-color: $color-second;
      }
}
/* Listado de Trabajos */

.trabajosContainer {
  width: 86%;
  margin-right: auto;
  margin-left: auto;
}

.tituloListado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-width: 1px;
  flex-wrap: wrap;
  align-items: center;
}


.h6Listado {
  @include tittle;

}

.miscelanea2 {
    img {
      width: 60%;
    }
}

.cont-trabajos {
  height: 1400px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;
    .img-portada {
      img{
        width: 98%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 8px;
      }
    } 
}

@media (max-width: 720px) {
.cont-trabajos{
  display: flex;
  flex-direction: column;
  height: 2000px;
}
}

.cajaListado{
  border: solid 1px;
  }

.subtituloListado {
  font-size: $text;
  border: solid;
  border-width: 1px;
  margin: 8px 5px 5px 5px;
  padding-left: 10px;
}

.tituloItem {
  font-size: $subtitle;
  padding-left: 5px;
}

.textoListado {
  font-size: $text;
  font-weight: 100;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 28%;
}

.botonVerMas {
 @include buttonSecond;
}


.botonBase{
  @include buttonPrimary;
}

.miscelanea3 img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    margin-top: 90px;
    margin-bottom: 90px;
}



.miscelanea4 {
  padding-top: 10px;
  padding-right: 10px;
  width: 20%;
}

.cajaContacto{
  border: 1px solid;
  margin-top: 10px;
  padding-bottom: 150px;

}

.pBajada2 {
  font-size: $text;
  display: inline-block;
  padding: 4px 10px 4px 10px;
  margin: 30px 0px 0px 10px;
  border: solid;
  border-width: 2px;
  border-color: $color-second;
}


.botonBase2 {
  font-size: $subtitle;
  display: flex;
  justify-content: center;
  margin-top: 90px;
    a{
      color:black;
      border: 1px solid;
      padding: 4px 15px 4px 15px;
}
}

hr {
  border-top: 1px solid black;
  margin: 40px 20px 30px 20px;
}

.pContacto {
  font-size: $text;
  letter-spacing:-15;
  display: flex;
  justify-content: center;

}



/* Pagina Presentacion --------------------------------------------------------- */ 

.presentacion__fondo {
  background-image: url("../imagenes/FondoPresentacion.jpg");
  @include cajaFondo;
}

.h3Presentacion {
  @include tittle;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 50px;
}

@media (max-width: 650px) {
.h3Presentacion{
  writing-mode:horizontal-tb;
  transform: none;
  margin-left: auto;
  margin-right: auto;
}
}

.cajaPresentacion {
    @include cajaPresentacion;
    height: 500px;
}

@media (max-width: 722px) {
.cajaPresentacion{
  height: 700px;
}
}

@media (max-width: 650px) {
.cajaPresentacion{
  display: grid;
  grid-template-rows: auto auto;
}
}

.pPresentacion {
  margin-right: 50px;
  padding-left: 50px;

}

.lineaPresentacion {
  height: 85%;
  border-right: 1px solid black;
}

@media (max-width: 650px) {
.lineaPresentacion{
  height: 100%;
  border-right: 0px solid black;
}
}

.botonSkills {
  @include buttonSecond;
  position: relative;
  bottom: -230px;
  right: -4px;
  width: 100px;
}

@media (max-width: 650px) {
.botonSkills{
  bottom: 0px;
  margin: 10px;
}
}

.h3Skills {
  @include tittle;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@media (max-width: 650px) {
.h3Skills{
  writing-mode:horizontal-tb;
  transform: none;
  margin-left: auto;
  margin-right: auto;

}
}

.cajaSkills {
  @include cajaPresentacion;
  height: 350px;
  margin-top: 50px;
}

@media (max-width: 722px) {
.cajaSkills {
  height: 500px;
  margin-top: -10px;
}
}

@media (max-width: 650px) {
.cajaSkills {
  display: grid;
  grid-template-rows: auto auto;
  height: 700px;
}
}

.ulSkills{
  margin-right: 50px;
  padding-left: 50px;
  margin-bottom: 20px;
  height: 200px;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-columns: auto auto;
    li{
      list-style: none;
    }

}

@media (max-width: 650px) {
.ulSkills {
  margin-top: -180px;
}
}

.botones {
  @include buttonPrimary;
    a {
      margin-right: 20px;
      margin-bottom: 40px;
    }
}

/* Trabajos --------------------------------------------------------- */ 

.carousel {
  margin-top: 10px;

    p {
      text-shadow: 1px 1px 3px black;
      font-family: Titillium Web, sans-serif;
    }
}

h5 {
  text-shadow: 1px 1px 3px black;
  font-family: Titillium Web, sans-serif;
}

.containerTrabajos {
  border: 1px solid;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items:center;
  grid-column-gap: 10px;

   .columna1 {
      border-right: 1px solid black;
      padding-right:5px;
        p{
          border-bottom: 1px solid black;
          padding: 10px;
          font-size: $subtitle;
        }
    }

    .columna2 {
      border-left: 1px solid black;
      border-right: 1px solid black;
      padding-right:5px;
      p{
          border-bottom: 1px solid black;
          padding: 10px;
          font-size: $subtitle;
        }
    }

    .columna3 {
      border-left: 1px solid black;
      padding-right:5px;
      p{
          border-bottom: 1px solid black;
          padding: 10px;
          font-size: $subtitle;
        }
    }

    img {
      width: 99%;
      padding-left: 10px;
      padding-bottom: 10px;
    }
}

/*Redes --------------------------------------------------------- */

footer{
  
  background-color: #555555;
  position: absolute;
    display: block;
    width: 100%;
    margin-top: 20px;
  
}

.footer a{
  float: right;
  padding: 2em;
    img{
    width: 50px; 
    height: 50px;
}
}

.footer_copy {
  font-family: Helvetica, sans-serif ;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 3em;
  margin-left: 2em;

}

